<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="utf-8" http-equiv="encoding" />
  <title>Music Store</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <script type="text/javascript" src="libs/vue.js"></script>
  <script type="text/javascript" src="libs/axios.js"></script>
  <script type="text/javascript" src="src/users-service.js"></script>
</head>

<body>
  <div id="app">
    <div class="title">Music Store</div>

    <ul class="user-list">
      <div id="display">
        <label for="display">All the music in the store:</label>
        <button class="process-button" v-on:click=" showMusic"> Display Music</button>
      </div>
      <div id="create">
        <label for="create">Add new music in our store:</label>
        <input type="text" v-model="createAlbum" placeholder="Album">
        <input type="text" v-model="createArtist" placeholder="Artist">
        <input type="text" v-model="createPrice" placeholder="Price">
        <button class="process-button" v-on:click=" addUser"> Add </button>
      </div>
      <li>
        <div class="user-row-header">
          <div class="user-album">Album</div>
          <div class="user-artist">Artist</div>
          <div class="user-price">Price</div>
        </div>
      </li>

      <li v-for="(user, index) in users" v-on:click="showDetails(user)">
        <div class="user-row">
            <div class="user-album">{{ user.album }}</div>
            <div class="user-artist"><i>{{ user.artist }}</i></div>
            <div class="user-price"><i>{{ user.price }}</i></div>
        </div>
    </li>
    </ul>
    <div id="delete">
      <input type="text" v-model="deleteAlbum" placeholder="Album">
      <button class="process-button" v-on:click="deleteUserByAlbum">Delete</button>
    </div>

    <div id="update">
      <select v-model="selectedAlbumToUpdate">
        <option v-for="(user, index) in users" :value="index">{{ user.album }}</option>
      </select>
      <input type="text" v-model="updatedArtist" placeholder="Update Artist">
      <input type="text" v-model="updatedPrice" placeholder="Update Price">
      <button class="process-button" v-on:click="updateAlbum">Update</button>
    </div>
  </div>

  <script src="src/app.js"></script>
</body>

</html>